<%- model_class = Newspaper -%>

<div class="bubble-news">
  <span class="bubble-title"><%= @newspaper.title %></span>
  <span class="bubble-time"><%= @newspaper.created_at.to_time.strftime('%d/%m/%y à %H:%M') %></span>
  <p><%= @newspaper.description %></p>
</div>

<%= link_to t('.back', :default => t("helpers.links.back")),
              newspapers_path, :class => 'btn btn-default'  %>
